// LE BODY PERMET D'INITIALISER LES PROPRIÉTÉS GÉNÉRALES DE LA PAGE. LES ÉLÉMENTS DE LA PAGE VONT HÉRITÉS DES PROPRIÉTÉS INSCRITE DANS BODY

body{
  font-family: $ff-normal;
  font-size: $fz-normal;
  color: $color-text-normal;
  line-height: $lh-normal;

  background: $color-bg-page;
}

header{
  width: 100vw;
}



//HERO
.hero {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url("../../images/hero.jpg");
  background-size: cover;
}

.hero h2{
  font-family: $ff-normal;
  font-weight: bold;
  color: $color-text-light;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}



//SECTION DECOMPTE
.decompte{
  width: 100%;
  height: 213px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.decompte h2{
  font-weight: 300;
  font-size: $fz-h1;
}


//////MINUTERIE
.minuterie{
  width: 100%;
  display: flex;
  justify-content: space-between;

  color: $color-text-light;
}

#jours{
  background: $color-gradient;
  width: 90px;
  height: 71px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#heures{
  background: $color-gradient;
  width: 90px;
  height: 71px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

}

#minutes{
  background: $color-gradient;
  width: 90px;
  height: 71px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#secondes{
  background: $color-gradient;
  width: 90px;
  height: 71px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.chiffre{
  margin-bottom: 0;
  font-size: $fz-h1;
  font-weight: bold;
}

.temps{
  margin-top: 0;
  font-size: 12px;
  font-weight: normal;
}


///info-achat

.info-achat{
  background: $color-gradient;
  color: $color-text-light;
  width: 100%;
  height: 404px;

  display: flex;
  align-items: center;
  justify-content: center;
}




//.flex{
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//}


///ITEMS

.item{
  display: flex;
  flex-direction:column;
  position: relative;
  justify-content: center;
  //align-items: center;
}



.rabais{
  position: absolute;
  top:-16px;
  background: $color-text-hover;
  width: 68px;
  height: 54px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.survol{
  position: absolute;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}