nav{
  position: fixed;
  height: 256px;
  width: 100vw;

  background: rgba(255,255,255, 0.95);
}

nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  list-style: none;
}


nav .compagnie{
  font-family: $ff-title;
  font-size: $fz-h1;

  order: -1;
}

//nav ul:nth-child(3){
//  order: 2;
//  font-family: $ff-title;
//}